//output:index.html
doctype HTML5
head
  title CS205 Assignment 1
  link(rel='stylesheet' href='stylesheet.css')
  link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
  link(rel="icon", href="favicon.png")
body
  .container
    h1 Ever wonder what the probablity of a large group to have two people with the same birthday!?
    h2 Well today is your lucky day!
    p#test Click the button below to find out!
    button(id="btn", input="button") Generate

  .container2
    h1#results You generated 0000 People in 000 groups
    h2 The probability in this simulation that people had the same birthday was 00%


footer
  p Copyright 2017

script(rel='text/Javascript', src='jquery-3.1.1.min.js')
script(rel='text/Javascript', src='functions.js')
